﻿@model string

<div class="list-group menu">
    <a class="list-group-item menu-header disabled">
        Settings
    </a>
    <a asp-action="Profile" asp-controller="Settings" class="list-group-item list-group-item-action @(Model=="profile"?"active":"")">
        Public profile
    </a>
    <a asp-action="Password" asp-controller="Settings" class="list-group-item list-group-item-action @(Model=="password"?"active":"")">
        Password
    </a>
</div>