﻿@model StudHelper.Application.ViewModels.Settings.SettingPasswordViewModel

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link href="~/css/user-settings.css" rel="stylesheet" />
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4 col-md-3">
            <partial name="_SettingsMenu" model="@("password")"/>
        </div>
        <div class="col-6 col-md-9">
            <p class="h2 mt-2">Password</p>
            
            <hr />
            
            @if (Model.Done)
            {
                <div class="alert alert-success" role="alert">
                    User password updated successfully
                </div>
            }

            <form asp-action="Password" asp-controller="Settings">
                <div asp-validation-summary="ModelOnly" class="text-danger m-2"></div>
                <input asp-for="UserId" hidden />
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" type="password" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
