﻿@model StudHelper.Application.ViewModels.Settings.SettingProfileViewModel

@{
    ViewData["Title"] = "Profile settings";
}

@section Styles {
    <link href="~/css/user-settings.css" rel="stylesheet" />
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4 col-md-3">
            <partial name="_SettingsMenu" model="@("profile")" />
        </div>
        <div class="col-6 col-md-9">
            <p class="h2 mt-2">Profile</p>

            <hr />

            @if (Model.Done)
            {
                <div class="alert alert-success" role="alert">
                    User profile updated successfully
                </div>
            }

            <form asp-action="Profile" asp-controller="Settings">
                <div asp-validation-summary="ModelOnly" class="text-danger m-2"></div>
                <input asp-for="UserId" hidden />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
