﻿<h4>Comments:</h4>

<div class="container">
    <div class="row" style="border: 1px solid #ccc">
        <div class="col-xm-12" style="overflow-y: auto; height:150px;">
            <ul id="commentsList" class="list-group"></ul>
        </div>
    </div>
    <div class="row">
        <input id="inputComment" class="form-control" type="text">
        <input id="btnSendComment" class="btn" type="button" style="padding-right:100px" value="Send">

    </div>
</div>
