﻿<div class="container">
    <div id="setNumberBlock" class="row" hidden>
        <div class="col-sm-4 col-xs-12">
            <input id="inputNewNumber" type="number" class="form-control" placeholder="0">
        </div>
        <div class="col-sm-4 col-xs-12">
            <input id="btnSetNumber" type="button" class="btn btn-success" value="Set new number" />
        </div>
    </div>
    <div id="compareBlock" class="row" hidden>
        <div class="col-sm-4 col-xs-12">
            <input id="inputNumber" type="number" class="form-control" placeholder="0">
        </div>
        <div class="col-sm-4 col-xs-12">
            <input id="btnCompereNumber" type="button" class="btn btn-success" value="Compare number" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p id="msg"></p>
        </div>
    </div>
    <div id="usersBlock" class="row">
        <h4>Other users:</h4>
        <div class="col-xs-12">
            <ul id="usersList"></ul>
        </div>
    </div>
</div>