﻿@model StudHelper.Application.ViewModels.Group.GroupViewModel

@{
    ViewData["Title"] = "Info";
}

@section Styles{
    <link href="~/css/group-info.css" rel="stylesheet" />
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12 form-group">
                        <h2 class="control-label">@Model.Title</h2>
                        <hr />
                        <span class="owner_user-name_opacity">Owner: <a asp-controller="User" asp-action="Profile" asp-route-id="@(Model.Owner.Id)">@Model.Owner.UserName</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <p class="control-label group__description">@Model.Description</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ml-auto mb-1">
                        <div class="mt-auto">
                            <h5>Resources</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <div id="resource_list" class="list-group">

                            @foreach (var resource in Model.Resources)
                            {
                                <div resources-item class="list-group-item list-group-item-action flex-column align-items-start">
                                    <h5>
                                        <span resource-title>@resource.Title</span>
                                    </h5>
                                    <p class="mb-1 p-1 w-100">@resource.Description</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>