﻿@using StudHelper.Application.ViewModels.Resource
@using StudHelper.Application.ViewModels.Group
@model UpdateGroupViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <p class="h2">Update group</p>
            <hr />
            <div id="content"></div>
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 form-group ml-auto mb-1">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="h5 mt-auto">Resources</div>
                                <button type="button" class="btn btn-success" data-mode="add" onclick="groupViewModel.showResourceModal(this)">Add resource</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div id="resource_list" class="list-group"
                                 data-resource-title-name-template="Resources[{index}].Title"
                                 data-resource-description-name-template="Resources[{index}].Description">

                                @for (int i = 0; i < Model.Resources?.Count; i++)
                                {
                                <div resources-item class="list-group-item list-group-item-action flex-column align-items-start">
                                    <span resource-title class="h5 mb-1 p-1">@Model.Resources[i].Title</span>
                                    <input resource-title asp-for="Resources[i].Title" hidden />

                                    <p resource-description name="Resources[@(i)].Description" class="mb-1 p-1 w-100">@Model.Resources[i].Description</p>
                                    <input resource-description asp-for="Resources[i].Description" hidden />

                                    <div class="row">
                                        <div class="mr-3 ml-auto btn-group " role="group">
                                            <button type="button" class="btn btn-secondary" data-mode="edit" onclick="groupViewModel.showResourceModal(this)">edit</button>
                                            <button type="button" class="btn btn-secondary" onclick="groupViewModel.onBtnResourceDeleteClick(this)">delete</button>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>

                            <span id="resourceErrorMsg" asp-validation-for="Resources"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <input id="btn_save" type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="resourceTemplate" hidden>
    <div resources-item class="list-group-item list-group-item-action flex-column align-items-start">
        <span resource-title class="h5 mb-1 p-1">{title}</span>
        <input resource-title hidden value="{title}" />
        <p resource-description class="mb-1 p-1 w-100">{description}</p>
        <input resource-description hidden value="{description}" />
        <div class="row">
            <div class="mr-3 ml-auto btn-group " role="group">
                <button type="button" class="btn btn-secondary" data-mode="edit" onclick="groupViewModel.showResourceModal(this)">edit</button>
            </div><button type="button" class="btn btn-secondary" onclick="groupViewModel.onBtnResourceDeleteClick(this)">delete</button>
        </div>
    </div>
</div>

<partial name="_UpdateResource" model="@(new ResourceViewModel())" />

@section Scripts{
    <script src="~/js/create-group.js"></script>
    <partial name="_ValidationScriptsPartial" />
}