.item-list .pager {
    list-style-type: none;
    margin: 0;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: start;
    border-bottom: 4px solid rgb(187, 186, 186);
}

.item-list .pager .pager-current {
    margin-bottom: -4px;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: #979797;
}

.item-list .pager li a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.item-list .pager .pager-next a {
    padding: 16px 26px;
}

.item-list .pager li:hover {
    margin-bottom: -4px;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: #979797;
}