﻿@model StudHelper.Application.ViewModels.PasswordRecovery.PasswordRecoveryViewModel
@{
    ViewData["Title"] = "Password Recovery";
}

@section Styles {
    <link href="~/css/account.css" rel="stylesheet" />
}

<form asp-action="RecoverPassword" method="post" class="account-form">

    <h3>@ViewData["Title"]</h3>

    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Recover password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

