﻿@model StudHelper.Application.ViewModels.PasswordRecovery.RequestPasswordRecoveryViewModel
@{
    ViewData["Title"] = "Password Recovery";
}

@section Styles {
    <link href="~/css/account.css" rel="stylesheet" />
}

<form asp-action="RequestPasswordRecovery" method="post" class="account-form">

    <h3>@ViewData["Title"]</h3>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send recovery message</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
