﻿@model StudHelper.Application.ViewModels.SignIn.SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

@section Styles {
    <link href="~/css/account.css" rel="stylesheet" />
}

<form asp-action="SignIn" method="post" class="account-form">

    <h1>@ViewData["Title"]</h1>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password"></span>
    </div>

    <input asp-for="ReturnUrl" hidden/>
    <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

