﻿@model StudHelper.Application.ViewModels.SignUp.SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

@section Styles {
    <link href="~/css/account.css" rel="stylesheet" />
}

<form asp-action="SignUp" method="post" class="account-form">
    
    <h1>@ViewData["Title"]</h1>

    <div class="m-2 text-danger">
        @Html.ValidationSummary(true)
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
