
.header{
    background: #225E79;
    height: 50px;
    width: 100%;
    min-width: 1000px;
}

.nav{
    float: left;
    background: #63AFD0;
    width: 200px;
    height: 100%;
}

.rigth-panel{
    float: right;
    background: #63AFD0;
    height: 100%;
    width: 200px;
    margin-right: 0px;
}

.content{
    background: azure;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    flex-direction: row;
    perspective: 900px;
    perspective-origin: 900px 0px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.container-item{
    flex: 0 0 270px;
    width: 270px;
    height: 350px;
    line-height: 270px;
    text-align: center;
    transform: rotateX(40deg) scale(0.8, 0.8) skewX(5deg);
   transition: all 0.5s;
    box-shadow: 10px 10px 10px gray;
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
}

.container-item:hover{
    transform: rotateX(0deg) skewX(0deg) translateY(-90px) scale(1.2, 1.5);
    box-shadow: 60px 60px 80px gray
}

.block1{
    background: linear-gradient(to right, #31ac5a, #72db95);
}

.block2{
    background: linear-gradient(to right, #5f4ef1, #8c80f1);
}

.block3{
    background: linear-gradient(to right, #d34f27, #f3724a);
}

.footer{
    background: #225E79;
    height: 50;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    min-width: 1500px;
    min-height: 1000px;
}