﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Guess number</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Game")">Game</a></li>
                    <li><a href="@Url.Action("GameHistory","Game")">History</a></li>
                </ul>
                

                <ul class="nav navbar-nav navbar-right" id="myNavbar">

                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                            {
                                <div class="input-group" style="width: 100%">
                                    <button type="submit" class="btn btn-default" style="width: 100%"><span class="glyphicon glyphicon-log-in"></span> Sign Out</button>
                                </div>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Login", "Account", FormMethod.Get, new {@class = "navbar-form navbar-right"}))
                            {
                                <div class="input-group" style="width: 100%">
                                    <button type="submit" class="btn btn-default" style="width: 100%"><span class="glyphicon glyphicon-log-in"></span> Sign In</button>
                                </div>
                            }
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>